.vscode/**
.vscode-test/**
.github/
.publish/
.vscode/
.testresults/
node_modules/
test/
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.mocharc.yml
package-lock.json
renovate.json
